.courses-section {
  background-color: #ffffff;
  padding: 80px 0;
  background-image: url(../../../assets/img/img1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 2; 
}

.black-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 0; 
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
  
  padding: 20px 0;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.course-card {
  border: 2px solid transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.course-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #000;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
  color: #fff;
}

.course-title {
  margin: 0;
  color:var(--accent-color);
  font-size: 1.2rem;
}

.course-details {
  padding: 20px;
}

.course-description {
  margin-bottom: 15px;
  color: #333;
}

.course-duration {
  color: #888;
}

@media (max-width: 768px) {
  .courses-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
