
.banner {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.black-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* semi-transparent black */
}

.banner-content {
  z-index: 2;
  padding: 20px;
}

.headline {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
  animation: fadeIn 2s ease-in-out;
}

.cta-button {
  padding: 10px 30px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  color: var(--accent-color);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.cta-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  
  transition: all 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.cta-button:hover::before {
  transform: scaleX(1);
}

.cta-button:hover {
  color:#fff;
}

.features-container {
  padding: 40px 0;
}

.features .col-4 {
  padding: 15px;
}

.features-post {
  position: relative;
  margin-bottom: 30px;
}

.features-content {
  position: relative;
  padding: 30px;
  background-color: #0c1228;
  color: #fff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.features-content:hover {
  background-color:#fff;
  color: black;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.features-content h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.features-content p {
  margin-bottom: 15px;
}

.features-content a {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 14px;
  border-bottom: 2px solid #fff;
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .headline {
    font-size: 36px;
  }

  .cta-button {
    font-size: 16px;
    padding: 8px 20px;
  }

  .features .col-4 {
    margin-bottom: 30px;
  }
}
